@import 'variables';
@import 'reset';
@import 'mixins';
@import 'breakpoints';
@import 'fonts';


body {
    background-color: $bg;
}

body,
button,
input,
select,
optgroup,
textarea {
	font-size: 16px;
}
main {
    height: 100vh;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
    height: auto;
}
button {
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.25);
}
.breadcrumbs {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    span {
        &:last-child {
            font-weight: 600;
        }
        &:not(:last-child) {
            cursor: pointer;
        }
    }
}