@import './variables';
@import './breakpoints.scss';
@import './mixins.scss';

.main-container {
    &.homepage, &.admin-search {
        flex-direction: column;
        justify-content: flex-start;
        padding: 6rem 6rem 4rem;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 40rem);
        @include breakpoint(desktop-sm) {
            padding: 2rem 4rem 3rem;
            height: calc(100vh - 30rem);
        }
        @include breakpoint(tablet) {
            padding: 3rem 4rem;
        }
        @include breakpoint(mobile) {
            padding: 2rem;
        }
        .list-wrap {
            width: 136.6rem;
            margin: 0 auto;
            @include breakpoint(desktop-sm) {
                width: 110rem;
            }
            @include breakpoint(tablet) {
                width: 100%;
            }
            h1, h2 {
                text-align: center;
            }
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
                li {
                padding: 1rem;
                cursor: pointer;
                display: flex;
                align-items: center;
            
                .folder-img {
                    background-image: url('../../public//images/bar-ilan-logo.png');
                    background-size: cover;
                    width: 100%;
                    height: 9rem;
                    @include breakpoint(desktop-sm) {
                        height: 6rem;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    @include breakpoint(mobile) {
                        height: 5rem;
                    }
                }
            
                .video-preview {
                    width: 4rem;
                    height: 4rem;
                    margin-right: 10px;
                    @include breakpoint(desktop-sm) {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            
                &:hover {
                    background-color: #f0f0f0;
                }
                &.item {
                    flex-direction: column;
                    width: 30rem;
                    box-shadow: 3px 3px 10px 4px #ddd;
                    gap: 1.6rem;
                    @include breakpoint(mobile) {
                        width: 100%;
                    }
                    > span {
                        width: 100%;
                        text-align: center;
                        padding: 1rem;
                        font-size: 1.8rem;
                        font-weight: 500;
                    }

                }
                }
            }
            .title-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;
                margin-bottom: 2.2rem;
                @include breakpoint(desktop-sm) {
                    margin-bottom: 2rem;
                }
                @include breakpoint(tablet) {
                    margin-bottom: 1.8rem;
                }
                @include breakpoint(mobile) {
                    margin-bottom: 1.63rem;
                }
                > h2 {
                    font-size: 3.2rem;
                    margin: 0;
                    @include breakpoint(desktop-sm) {
                        font-size: 3rem;
                    }
                    @include breakpoint(tablet) {
                        font-size: 2.4rem;
                    }
                    @include breakpoint(mobile) {
                        font-size: 2.1rem;
                    }
                }
                > span {
                    font-size: 2.4rem;
                    @include breakpoint(tablet) {
                        font-size: 1.8rem;
                    }
                }
            }
            &.videos {
                .search-container {
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;
                    @include breakpoint(desktop-sm) {
                        flex-direction: row;
                        align-items: flex-end;
                    }
                    @include breakpoint(tablet) {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
            > p {
                text-align: center;
            }
        }
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            @include breakpoint(mobile) {
                box-sizing: border-box;
                padding-inline: 1.6rem;
            }
            .modal-content {
                background-color: #fff;
                padding: 2rem;
                border-radius: 0.5rem;
                position: relative;
                box-shadow: 0px 0px 10px 4px #ddd;
                width: 70rem;
                @include breakpoint(mobile) {
                    width: 100%;
                    height: calc(100vh - 12rem);
                }
                .close {
                    position: absolute;
                    top: 1rem;
                    right: 1.5rem;
                    font-size: 3.6rem;
                    cursor: pointer;
                }
        
                .tabs {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    max-width: 100%;
                    justify-content: center;
                    padding-inline: 2rem;
                    button {
                        padding: 1rem;
                        border: none;
                        background: $bg;
                        color: $text-dark;
                        cursor: pointer;
                        border-radius: 0.4rem;
                        transition: background 0.4s, color 0.4s;
        
                        &:hover, &.active {
                            background: $text-dark;
                            color: $bg;
                        }
                    }
                }
        
                .tab-content {
                    margin-top: 10px;
        
                    h3 {
                        margin-bottom: 10px;
                    }
                    video {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 16 / 9;
                        object-fit: cover;
                    }
                    .video-details {
                        display: flex;
                        flex-wrap: wrap;
                        .lists-wrapper {
                            flex: 1 100%;
                            display: flex;
                            justify-content: space-between;
                            gap: 1rem;
                            @include breakpoint(mobile) {
                                flex-direction: column;
                                gap: 0;
                            }
                            dl {
                                flex: 0 1 50%;
                                margin-block: 0;
                                // &:first-of-type {
                                //     margin-bottom: 0.8rem;
                                // }
                                // &:last-of-type {
                                //     margin-top: 0;
                                // }
                            }
                        }
                        h4 {
                            flex: 1 100%;
                            text-align: center;
                        }
                        .detail {
                            dt {
                                min-width: 17rem;
                            }
                        }
                    }
                }
            }
        }
        .video-details {
            width: 100%;
            dl {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
            }
            .detail {
                display: flex;
                font-size: 1.4rem;
                &:not(:last-child) {
                    border-bottom: 1px solid #cccccc52;
                }
                dt {
                    font-weight: 500;
                    min-width: 14rem;
                }
                dd {
                    font-weight: 400;
                    margin-inline-start: 0;
                    @include ellip(2);
                }
            }
        }
    }
    &.admin-search {
        .list-wrap {
            .search-container {
                display: none;
             }
         }
        > .list-wrap {
            > .search-container {
                display: flex;
                gap: 1.6rem;
            }
        }


    }
}
.video-grid {
    .video-item {
        width: 46rem;
        height: 26rem;
    }
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    @include breakpoint(tablet) {
        margin-bottom: 2rem;
    }
    @include breakpoint(mobile) {
        max-width: 100%;
    }
    .free-text-item {
        @include breakpoint(mobile) {
            min-width: 100%;
        }
    }
    input, select {
        padding-inline: 1rem 2rem;
        padding-block: 1rem;
        border-radius: 2rem;
        font-size: 2rem;
        min-width: 30rem;
        @include breakpoint(desktop-sm) {
            font-size: 1.8rem;
            min-width: 28rem;
        }
        @include breakpoint(tablet) {
            min-width: 100%
        }
        @include breakpoint(mobile) {
            min-width: 100%;
            box-sizing: border-box;
        }
    }
    .dates-wrap {
        display: flex;
        align-items: center;
        gap: 2.6rem;
        @include breakpoint(tablet) {
            gap: 5rem;
        }
        @include breakpoint(mobile) {
            min-width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 1.2rem;
        }
        .date-item {
            display: flex;
            align-items: center;
            gap: 1rem;
            @include breakpoint(desktop-sm) {
                flex-direction: column;
                align-items: flex-start;
            }
            @include breakpoint(mobile) {
                min-width: 100%;
            }
            label {
                font-size: 1.8rem;
                @include breakpoint(desktop-sm) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
.filter-status {
    display: flex;
    justify-content: center;
    p {
        font-size: 1.8rem;
    }
}